@using ApplicationCore.DTO
@using ApplicationCore.Enums
@model AppUserDTO


<div class="container text-white p- col-11 px-5 py-2" style="background-color: rgb(0, 0, 0, 0.7); ">
    <h1 class="text-warning text-center mb-4 border-bottom pb-2">Personel Bilgi Güncelleme</h1>
    <form asp-area="Yonetici" asp-controller="Yonetici" asp-action="PersonelBilgiDuzenle" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-5 border-right">

                <div class="row">
                    <div class="col-6">
                        <div class="mb-4">
                            <label asp-for="@Model.Name"><b class="text-warning">Ad* : </b></label>
                            <input asp-for="@Model.Name" type="text" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="@Model.MiddleName"><b class="text-warning">İkinci Ad :</b></label>
                            <input asp-for="@Model.MiddleName" type="text" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.MiddleName"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="@Model.Surname"><b class="text-warning">Soyad* :</b></label>
                            <input asp-for="@Model.Surname" type="text" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.Surname"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="@Model.SecondSurname"><b class="text-warning">İkinci Soyad :</b></label>
                            <input asp-for="@Model.SecondSurname" type="text" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.SecondSurname"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="mb-4">
                            <label asp-for="@Model.BirthDate"><b class="text-warning">Doğum Tarihi* :</b></label>
                            <input asp-for="@Model.BirthDate" type="date" class="form-control  text-white" />
                            <span class="text-danger" asp-validation-for="@Model.BirthDate"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="@Model.PlaceOfBirth"><b class="text-warning">Doğum Yeri* :</b></label>
                            <input asp-for="@Model.PlaceOfBirth" type="text" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.PlaceOfBirth"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="@Model.IdentityNumber"><b class="text-warning">Tc No* :</b></label>
                            <input asp-for="@Model.IdentityNumber" type="text" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.IdentityNumber"></span>
                        </div>

                        <div class="form-group">
                            <label for="phoneNumber"><b class="text-warning">Tel. No* :</b></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text border-0" style="background-color:rgb(255, 255, 255, 0.2); color:white; border-radius:60% 0 0 60%">+90</span>
                                </div>
                                <input asp-for="@Model.PhoneNumber" value="@Model.PhoneNumber.Substring(4)" oninput="formatPhoneNumber(this)" type="tel" class="form-control border-left" id="phoneNumber" placeholder="(XXX)-XXX-XX-XX">
                            </div>
                            <div>
                                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-2">
                <div class="mb-4">
                    <label asp-for="@Model.Resim"><b class="text-warning">Resim :</b></label>
                    <input asp-for="@Model.Resim" type="file" class="form-control-file" />
                    <span class="text-danger" asp-validation-for="@Model.Resim"></span>
                </div>
            </div>
            <div class="col-5 border-left">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-4">
                            <label asp-for="@Model.HireDate"><b class="text-warning">İşe Giriş Tarihi* :</b></label>
                            <input asp-for="@Model.HireDate" type="date" class="form-control" id="hire-date-input" />
                            <span class="text-danger" asp-validation-for="@Model.HireDate"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="@Model.ReleaseDate"><b class="text-warning">İşten Çıkış Tarihi :</b></label>
                            <input asp-for="@Model.ReleaseDate" value="@((Model.ReleaseDate!.Value.Year != 2099) ? Model.ReleaseDate.Value.ToString("yyyy-MM-dd") : "")" type="date" class="form-control" id="release-date-input" />

                            <span class="text-danger" asp-validation-for="@Model.ReleaseDate"></span>
                            <span class="text-danger">
                                @Html.ValidationMessage("girisTarih")
                                @Html.ValidationMessage("cikisTarih")
                            </span>
                        </div>

                        @{
                            var departmentList = Html.GetEnumSelectList<Department>().ToList();
                            departmentList.Insert(0, new SelectListItem { Text = "Seçiniz", Value = "" });
                        }
                        <div class="mb-3">
                            <label asp-for="@Model.Department"><b class="text-warning">Departman* :</b></label>
                            <div class="">
                                @Html.DropDownListFor(x => x.Department, departmentList, new { @class = "form-control text-dark" })
                            </div>
                            <span class="text-danger" asp-validation-for="Department"></span>
                        </div>



                    </div>
                    <div class="col-6">

                        @{
                            var jobList = Html.GetEnumSelectList<Job>().ToList();
                            jobList.Insert(0, new SelectListItem { Text = "Seçiniz", Value = "" });
                        }
                        <div class="mb-3">
                            <label asp-for="@Model.Job"><b class="text-warning">Meslek* :</b></label>
                            <div class="">
                                @Html.DropDownListFor(x => x.Job, jobList, new { @class = "form-control text-dark" })
                            </div>
                            <span class="text-danger" asp-validation-for="Job"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="@Model.Salary"><b class="text-warning">Maaş* :</b></label>
                            <input asp-for="@Model.Salary" value="@(Model.Salary!.Value.ToString("c2")!.Substring(1))" type="text" class="form-control" onkeypress="return isNumberOrDotKey(event)" />
                         

                            <span class="text-danger" asp-validation-for="@Model.Salary"></span>
                        </div>


                        @{
                            var genderList = Html.GetEnumSelectList<Gender>().ToList();
                            genderList.Insert(0, new SelectListItem { Text = "Seçiniz", Value = "" });
                        }
                        <div class="mb-3">
                            <label asp-for="@Model.Gender"><b class="text-warning">Cinsiyeti* :</b></label>
                            <div class="">
                                @Html.DropDownListFor(x => x.Gender, genderList, new { @class = "form-control text-dark" })
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.Gender"></span>
                        </div>

                    </div>
                </div>
                <div class="mb-4">
                    <label asp-for="@Model.Address"><b class="text-warning">Adres* :</b></label>
                    <textarea asp-for="@Model.Address" class="form-control" rows="3"></textarea>
                    <span class="text-danger" asp-validation-for="@Model.Address"></span>
                </div>
            </div>

            <div class="col-12 justify-content-center d-flex mt-5 mb-2">
                <button onclick="giris()" class="btn btn-lg btn-primary m-3"><b>Personel Güncelle</b></button>
                <a asp-area="Yonetici" asp-controller="Home" asp-action="Index" class="btn btn-lg btn-secondary m-3"><b>Anasayfa</b></a>
            </div>
            <sub style="font-size:15px" class="mb-2 font-italic">(* : zorunlu alan)</sub>
        </div>
        <input type="hidden" asp-for="@Model.Email" />
        
    </form>
</div>

@if (TempData.ContainsKey("sweetAlertMessage"))
{
    <div id="sweet">
    </div>
}


@section Scripts{
    <script>
        // bekleme imleci
        function giris() {
            document.body.style.cursor = "wait";
        };

        // sweetalert2 gösterilecek div
        let sweetDiv = document.getElementById("sweet");

        // sweetalert2 gösterme
        sweetDiv.innerHTML(
            Swal.fire({
                title: '@TempData["sweetAlertMessage"]',
                icon: '@TempData["sweetAlertType"]',
                onClose: () => { },
                didClose: () => {
                    document.body.style.cursor = "wait";
                    window.location.href = "/Yonetici/PersonelListele/";
                }
            }),
        );

        // telefon numarası formatı
        function formatPhoneNumber(input) {
            // Gelen numarayı (555) 555-55-55 formatına uygun hale getirir
            let formatted = input.value.replace(/\D/g, '');
            formatted = formatted.replace(/^(\d{3})(\d{3})(\d{2})(\d{2})$/, '($1) $2-$3-$4');
            input.value = formatted;
        }

        // maaş formatı
        function isNumberOrDotKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            var inputValue = evt.target.value;

            // sadece sayılar ve en fazla bir virgül/nokta karakterine izin ver
            if (charCode != 46 && charCode != 44 && charCode > 31 && (charCode < 48 || charCode > 57)) {
                evt.preventDefault();
                return false;
            } else if ((charCode == 46 || charCode == 44) && (inputValue.indexOf(',') > -1)) {
                evt.preventDefault();
                return false;
            }
            return true;
        }




    </script>
}